.output {
    width: 600px;
    margin: auto;
    background-color: lightgray;
    border: black solid 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img {
    width: 500px;
    height: 500px;
    margin: auto;
}
.map {
    display: none;
    margin: auto;
}
h2 {
    margin: auto;
}
h1 {
    margin: auto;
}